apiVersion: v1
kind: Service
metadata:
  name: demo-helm-guestbook
  labels:
    app: helm-guestbook
    chart: helm-guestbook-0.1.0
    release: demo
    heritage: Helm
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
    nodePort: 30961
  selector:
    app: helm-guestbook
    release: demo
---
apiVersion: v1
kind: Service
metadata:
  name: demo-helm-guestbook-preview
  labels:
    app: helm-guestbook
    chart: helm-guestbook-0.1.0
    release: demo
    heritage: Helm
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
    nodePort: 30962
  selector:
    app: helm-guestbook
    release: demo
